* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wapper {
    background-color: #F5F5F5;
}

.header {
    background-color: #74C69D;
    color: #ffff;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__img {
    width: 40px;
    height: 45px;
}